<h1>Snippet sharing</h1>
<p>The snippet sharing plugin will save your snippets out to specified locations when modified. Great for integrating your site's theme with other applications.</p>

<h2>How to configure</h2>

<p>Snippet sharing can be configured in: <pre><%= SaveOutSnippetsExtension::config_path %></pre></p>

<h2>Current configuration</h2>

<%= debug SaveOutSnippetsExtension::current_config %>